.mainContainer
{
    width: 35rem;
    height: 20rem;
    background-color: hsl(217, 19%, 24%);
    border-radius: 1.2rem;
    -webkit-box-shadow: 17px 24px 47px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 17px 24px 47px 0px rgba(0,0,0,0.41);
    box-shadow: 17px 24px 47px 0px rgba(0,0,0,0.41);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}
.adviceContainer
{
   padding:2rem;
  text-align: center;
}
.adviceId
{
    margin-top: 1rem;
    font-size: 1rem;
    color: hsl(150, 100%, 66%);
    letter-spacing: .2rem;
}
.advice
{
    font-size: 1.6rem;
    margin-top: 2rem;
    color: hsl(193, 38%, 86%);
    line-height: 2.3rem;
}

.divider{
    margin-top: 2rem;
   
    
}

.btn
{
    background-color: hsl(150, 100%, 66%);
    border-radius: 100%;
    padding: 1.2rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -1.9rem;
}

.btn:hover{
    box-shadow: -1px 1px 96px -5px rgba(95,255,0,1);
}


@media only screen and (max-width:653px)
{
    .mainContainer{
        width: 27rem;
        padding: 1.5rem;
    }
    .advice
            {
                font-size: 1.2rem;
                margin-top: 2rem;
                color: hsl(193, 38%, 86%);
                line-height: 2.3rem;
            }
}
@media only screen and (max-width:558px)
{
    .mainContainer{
        width: 22rem;
        padding: 1.5rem;
    }
    .advice
            {
                padding: 0 0.5rem;
                font-size: 1.2rem;
                margin-top: 2rem;
                color: hsl(193, 38%, 86%);
                line-height: 2.3rem;
            }
    .divider{
        width: 22rem;
    }
}

@media only screen and (max-width:475px)
{
    .mainContainer{
        width: 18rem;
        padding: 1.5rem;
    }
    .advice
            {
               
                font-size: 1.2rem;
                margin-top: 2rem;
                color: hsl(193, 38%, 86%);
                line-height: 2.3rem;
            }
    .divider{
        width: 18rem;
    }
}

@media only screen and (max-width:380px)
    {
        .mainContainer{
            width: 16rem;
            padding: .5rem;
        }
        .adviceContainer
        {
            width: 100%;
            padding:2rem;
        }
        .advice
            {
                font-size: 1.2rem;
                margin-top: 2rem;
                color: hsl(193, 38%, 86%);
                line-height: 2.3rem;
            }
        .divider
            {
            width: 100%;
            }
        .btn
            {
                font-size: 1rem;
            }
    }